.post-content {
	line-height: 1.5;
}

.post-content a {
	@apply underline;
}

.post-content ul {
	padding-inline-start: 1.7em;
	list-style: disc;
}

.post-content ol {
	padding-inline-start: 1.7em;
	list-style: normal;
}

.post-content ul > li {
	padding-left: 0.1em;
}

.post-content p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.post-img {
	@apply my-4;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
	@apply leading-tight;
	@apply mt-5;
	@apply mb-4;
}

.post-content h2 {
	@apply mt-8;
}

.post-content ul,
ul.disc {
	padding-inline-start: 1.2em;
	list-style: disc;
}

.post-content ul > li,
ul.disc > li {
	padding-left: 0.1em;
}

pre {
	padding: 1.25em;
	background: rgba(135, 131, 120, 0.15);
	border-radius: 3px;

	tab-size: 2;
	overflow-x: scroll;
}

code {
	font-size: 75%;
}
